<div>
{{#each beersList}}
<a href="beers/{{this.id}}" class="beer-image">
<div class="beer-img">
    <img src="{{this.image_url}}" alt="">
    <h2>{{this.name}}</h2>
</div>
</a>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
    
{{/each}}
</div>